*{
    box-sizing: border-box;
    margin: 0;
    
}

body{
    font-family: Roboto, sans-serif;font-family: Roboto, sans-serif;font-family: Roboto, sans-serif;font-family: Roboto, sans-serif;font-family: Roboto, sans-serif;font-family: Roboto, sans-serif;font-family: Roboto, sans-serif;font-family: Roboto, sans-serif;font-family: Roboto, sans-serif;font-family: Roboto, sans-serif;font-family: Roboto, sans-serif;font-family: Roboto, sans-serif;font-family: Roboto, sans-serif;font-family: Roboto, sans-serif;font-family: Roboto, sans-serif;font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.main-contents{
    flex:1;
}

/* Navigation */
.navigation,
.nav-links ul{
    display: flex;
    justify-content: space-between;
}

.navigation{
    background-color: #1f2937;
    color: white;
    align-items: center;
    padding: 20px 300px;
}

.nav-links ul{
    gap: 30px;
}

.nav-header{
    font-size: 24px;
    color: #f9faf8;
}

.nav-links,
.header-content p{
    font-size: 20px;
    color: #e5e7eb;
}

li{
    list-style: none;
}

/* Header */
.header{
    display: flex;
    justify-content: space-between;
    padding: 120px 300px;
    background-color: #1f2937;
    gap:180px;
}

.header h1{
   font-size: 48px;
   font-weight:bolder;
   color: #f9faf8;

}

.header-img img{
   height: 250px;
   width:600px;
   flex-shrink: 0;
}

.header-content p{
    margin-top: 5px;
    margin-bottom: 10px;
}

.header-btn{
    background-color: #3882F6;
    font-weight: bold;
    color: #f9faf8;
    padding:10px 40px;
    border-radius: 10px;
}

/* Main ccontainer */
.main-content{
    text-align: center;
    padding: 100px 270px;
}

.main-containers{
    display: flex;
    justify-content: space-between;
    padding: 45px 110px;
}

.main-content h2{
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937
}

.containers{
    width:250px;
    font-size: 18px;
    color:rgb(85, 85, 85)
}

.containers img{
    height:250px;
    width:250px;
    border-radius: 15px;
    border: 3px #3882F6 solid;
}

/* Testimonial */
.testimonail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:180px 600px;
    background-color: #e5e7eb;
    gap: 20px;
}

.testimonail p{
    font-size: 40px;
    font-weight:100;
    font-style: italic;
    color: #454545;
}

.test-author{
    align-self: flex-end;
    color: black;
    font-size: 22px;
    font-weight: bolder;
}

/* Call to action */

.sign-up{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 180px 300px;
}

.sign-up-body{
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 70px 120px;
    color: #e5e7eb;
    border-radius: 10px;
}

.sign-up-btn{
    background-color: #3882F6;
    font-weight: bold;
    color: #f9faf8;
    padding:10px 40px;
    border-radius: 10px;
    border: 1px white solid;
}

/* footer */
.footer{
    text-align: center;
    background-color: #1f2937;
    padding: 45px 120px;
    color: #e5e7eb;
}